body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  margin-top: 22px;
  padding: 0;
  background-color: #eef0f3;
}

header {
  background-color: #fff;
  margin-bottom: 22px;
  padding: 20px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #eef0f3;
}

.header-block {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #242424;
}

.nav a:hover {
  color: #5856d6;
}

.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 40px;
}

.btn-secondary {
  display: flex;  
  align-items: center;
  gap: 8px;
  background-color: #f0f0f0;
  color: #242424;
}

.btn-primary {
  background-color: #5c53e9;
  color: #ffffff;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #eef0f3;
  padding: 10px 14px;
  border-radius: 10px;
  gap: 6px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #bcbcbd;
}

.header2 {
  background-color: #fff;
  margin-bottom: 22px;
  padding: 32px 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #eef0f3;
}

.nav2 {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav2 a {
  text-decoration: none;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #170F49;
}

.button-rounded {
    background-color: #4A3AFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    padding: 18px 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 76px;
}